<div id="quiz" class="section">
  <app-sidebar (onToggleSideNav)="onToggleSideNav($event)"></app-sidebar>

  <div class="section-center">
    <div class="container">
      <app-history
        #history
        [style.display]="showHistoryScreen ? 'block' : 'none'"
      ></app-history>
      <app-quiz
        #quiz
        [style.display]="showQuizScreen ? 'block' : 'none'"
        (finalResult)="finalResult($event)"
        (showMainMenuFromQuizz)="showMainMenuFromQuizz($event)"
      ></app-quiz>
      <app-result
        #result
        [style.display]="showResultScreen ? 'block' : 'none'"
        (showHistoryScreen)="showHistoryScreenFromSidebar($event)"
        (showMainMenuScreen)="showMainMenuScreen($event)"
      ></app-result>
      <div
        [style.display]="showMainMenu ? 'block' : 'none'"
        class="row justify-content-md-center"
      >
        <div class="col-md-6 mx-auto">
          <div class="quiz-form">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for=""></label>
                  <input
                    type="file"
                    name="input_pdf"
                    id="input_pdf"
                    accept="application/pdf"
                    enctype="multipart/form-data"
                  />
                </div>
              </div>
            </div>
            <div class="form-btn">
              <button
                class="submit-btn"
                (click)="handleFileInput($event)"
                *ngIf="!spinner"
              >
                Start Quiz
              </button>
              <button class="submit-btn" type="button" disabled *ngIf="spinner">
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                Loading...
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
